body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding-left: 10px;
  padding-right: 10px;
   }
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(230, 201, 164);
padding-left: 15px;}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 90px;
  }
  
  #customers td, #customers th {
    border: 1px solid #c5c3c3;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f7f6f6;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(230, 201, 164);
    color:  rgb(107, 56, 56);
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #ad4e4e;
}
li{
  float:left;
}
li a{
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}



